/* MAIN STYLES */

body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: hsl(240, 38%, 20%);
}

.container {
    margin: auto;
    max-width: 1440px;
    min-height: 700px;
    background-image: url("../images/pattern-bg.svg"), 
                      url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: 95%, 
                         bottom left;
    display: flex;
    align-items: center;
}

.slider {
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#john {
    display: none;
}

@keyframes slide-left-in {
    from { transform: translateX(100%); }
    to   { transform: translateX(0%); }
}

@keyframes slide-left-out {
    from { transform: translateX(0%); }
    to   { transform: translateX(-100%); }
}

@keyframes slide-right-in {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0%); }
}

@keyframes slide-right-out {
    from { transform: translateX(0%); }
    to   { transform: translateX(100%); }
}

.animate-left-in {
    animation: .7s linear slide-left-in;
}

.animate-right-in {
    animation: .7s linear slide-right-in;
}

.name {
    font-size: .75em;
    font-weight: 700;
    margin-top: 30px;
}

.title {
    color: hsl(240, 18%, 77%);
}

.quote {
    background-image: url("../images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: 25% top;
    margin-left: 100px;
    margin-right: -120px;
    padding: 60px 60px;
    width:45%;
    z-index: 1;
} 

.photo {
    margin-top: 40px;
    margin-right: 140px;
    box-shadow: 0 30px 70px -40px hsl(262, 50%, 50%);
}

.image-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    align-self: end;
    margin-left: 70px;
    margin-top: -30px;
    z-index: 1;
}

.btn {
    background-color: white;
    border: none;
    padding: 13px 16px;
    cursor: pointer;
}

.btn-previous {
    border-radius: 100% 0 0 100%;
    padding-right: 20px;
}

.btn-next {
    border-radius: 0 100% 100% 0;
    padding-left: 20px;
}

@media screen and (max-width: 500px) {
    .photo {
        margin-top: -40px;
    }

    .quote {
        font-size: 16px;
        padding: 30px 30px;
        background-size: 25%;
    }

    .name {
        display: flex;
        flex-direction: column;
    }

    .image-buttons {
        margin-bottom: 25px;
    }

}
